.graph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 400px;
  background-color: white;
  border-radius: 8px;
  margin-left: 24px;
  margin-top: 20px;
}

.graph-wrapper {
  display: flex;
  position: static !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 750px;
  height: 350px;
  background-color: white;
  border-radius: 8px;
  margin: 0;
  top: 12px;
  left: 12px;
}

.graph {
  width: 700px;
  height: 300px;
  padding: 15px;
  margin: 0 auto;
}

